#!/bin/sh

brew update

brew install coreutils
brew install git
brew install git-secrets
brew install git-delta
brew install starship
brew install peco
brew install eza
brew install bat
brew install fd
brew install ripgrep
brew install tmux
brew install direnv
brew install shadowenv
brew install asdf
brew install age
brew install gpg
brew install fish
brew install nano
brew install aspell

brew install --cask karabiner-elements
brew install --cask google-japanese-ime

brew tap homebrew/cask-fonts
brew install --cask font-fira-code-nerd-font
brew install --cask font-fira-mono-nerd-font
brew install --cask font-hack-nerd-font
