#!/bin/sh

git secrets --install ~/.git-templates/git-secrets
git secrets --register-aws --global

# macOS
defaults write com.apple.dock autohide -bool true
defaults write com.apple.dock show-recents -bool false
defaults write com.apple.dock show-recents -bool false

defaults write com.apple.finder AppleShowAllFiles TRUE

defaults write NSGlobalDomain NSAutomaticQuoteSubstitutionEnabled -bool false

defaults write -g InitialKeyRepeat -int 10 # normal minimum is 15
defaults write -g KeyRepeat -int 1 # normal minimum is 2

killall Dock
